version: 2
updates:
  - package-ecosystem: gomod
    rebase-strategy: auto
    open-pull-requests-limit: 25
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: "github-actions"
    rebase-strategy: auto
    open-pull-requests-limit: 25
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
